In [1]:
# 1> Install Jupyter notebook and run the first program and share the screenshot of the output.
for r in range(1, 11, 1):
    if r == 7:
        break
    else:
        print("hello sir this is my first python program")

hello sir this is my first python program
hello sir this is my first python program
hello sir this is my first python program
hello sir this is my first python program
hello sir this is my first python program
hello sir this is my first python program

In [ ]:
# 2> Write a program which will find all such numbers which are divisible by 7 but are not a multipleof 5,
#between 2000 and 3200 (both included). The numbers obtained should be printed in acomma-separated sequence on a single line.

In [22]:
for i in range(2000, 3200, 1):
    if ((i % 7 == 0)and (i % 5 != 0)):
        print(" i :" ,i)

 i : 2002
 i : 2009
 i : 2016
 i : 2023
 i : 2037
 i : 2044
 i : 2051
 i : 2058
 i : 2072
 i : 2079
 i : 2086
 i : 2093
 i : 2107
 i : 2114
 i : 2121
 i : 2128
 i : 2142
 i : 2149
 i : 2156
 i : 2163
 i : 2177
 i : 2184
 i : 2191
 i : 2198
 i : 2212
 i : 2219
 i : 2226
 i : 2233
 i : 2247
 i : 2254
 i : 2261
 i : 2268
 i : 2282
 i : 2289
 i : 2296
 i : 2303
 i : 2317
 i : 2324
 i : 2331
 i : 2338
 i : 2352
 i : 2359
 i : 2366
 i : 2373
 i : 2387
 i : 2394
 i : 2401
 i : 2408
 i : 2422
 i : 2429
 i : 2436
 i : 2443
 i : 2457
 i : 2464
 i : 2471
 i : 2478
 i : 2492
 i : 2499
 i : 2506
 i : 2513
 i : 2527
 i : 2534
 i : 2541
 i : 2548
 i : 2562
 i : 2569
 i : 2576
 i : 2583
 i : 2597
 i : 2604
 i : 2611
 i : 2618
 i : 2632
 i : 2639
 i : 2646
 i : 2653
 i : 2667
 i : 2674
 i : 2681
 i : 2688
 i : 2702
 i : 2709
 i : 2716
 i : 2723
 i : 2737
 i : 2744
 i : 2751
 i : 2758
 i : 2772
 i : 2779
 i : 2786
 i : 2793
 i : 2807
 i : 2814
 i : 2821
 i : 2828
 i : 2842
 i : 2849
 i : 2856
 i : 2863
 i : 2877
 i : 2884
 i : 2891
 i : 2898
 i : 2912
 i : 2919
 i : 2926
 i : 2933
 i : 2947
 i : 2954
 i : 2961
 i : 2968
 i : 2982
 i : 2989
 i : 2996
 i : 3003
 i : 3017
 i : 3024
 i : 3031
 i : 3038
 i : 3052
 i : 3059
 i : 3066
 i : 3073
 i : 3087
 i : 3094
 i : 3101
 i : 3108
 i : 3122
 i : 3129
 i : 3136
 i : 3143
 i : 3157
 i : 3164
 i : 3171
 i : 3178
 i : 3192
 i : 3199

In [27]:
# 3> Write a Python program to accept the user's first and last name and then getting them printed inthe the reverse order
#with a space between first name and last name.

In [26]:
a = input("Enter your first name")
b = input("Enter your last name")
a = a[::-1]
b  = b[::-1]
print(a , b)

Enter your first namemanish
Enter your last nameyadav
hsinam vaday

In [ ]:
#W 4> write a Python program to find the volume of a sphere with diameter 12 cm.Formula: V=4/3 * π * r3

In [29]:
d = 12
r = d / 2
pi = 3.14
V = (4 * pi * r * r * r)/3
print(V)

904.32

In [ ]:
# Task -2

In [ ]:
# 1> Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [39]:
mani = input("comma seperated :" )
mani = mani.split(",")
print('List :' , mani)

comma seperated :1,8,7,9,5,6,4,3,2
List : ['1', '8', '7', '9', '5', '6', '4', '3', '2']

In [ ]:
# 2 >Create the below pattern using nested for loop in Python. 
 
 
* 
* *
* * * 
* * * * 
* * * * *
* * * * 
* * * 
* * 
*

In [1]:
for i in range(0, 5):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

for i in range(5, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# 3> Write a Python program to reverse a word after accepting the input from the user.Sample Output:
# Input word: AcadGildOutput:dilGdacA

In [42]:
K = input("Reverse the value :")
K = K[::-1]
print(K)

Reverse the value :AcadGil
liGdacA

In [ ]:
# 4> Write a Python Program to print the given string in the format specified in the ​sample output.WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into aSOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
#and to secure to allits citizens
#output-WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, !SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC 
#and to secure to all its citizens

In [43]:
a = "WE, THE PEOPLE OF INDIA,"+"\n     having solemnly resolved to constitute India into a SOVEREIGN,! "+" \n        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC"+"   \n         and to secure to all its citizens"
print(a)

WE, THE PEOPLE OF INDIA,
     having solemnly resolved to constitute India into a SOVEREIGN,!
        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
         and to secure to all its citizens